{% load crispy_forms_filters %}
{% include 'account/acc_base.html' %}
{% block content_acc %}
    <br>
        <div class="container bg-white shadow-md p-5">
            <h3><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login to account</h3>
            <hr>
            <br>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                <br>
                <br>
                {{ form.password|as_crispy_field }}
                <br>
                <br>
                <input type="submit" class="btn btn-primary navbar-btn text-white w-100" value="Login">
                 <br><br>
                {{ form.non_field_errors }}
                <a type="button" class="btn btn-secondary navbar-btn text-white" href="{% url 'register' %}">Don't have an account</a>
                 <br>
                <a type="button" class="btn btn-secondary navbar-btn text-white" href="{% url 'password_reset' %}">Forget password</a>
            </form>
        </div>
{% endblock %}
